-- Update the gig worker cases view to fix pending_acceptance issue
CREATE OR REPLACE VIEW public.gig_worker_cases AS
SELECT 
    c.id,
    c.case_number,
    c.title,
    c.description,
    c.priority,
    c.client_id,
    c.location_id,
    c.tat_hours,
    c.due_at,
    c.created_at,
    c.current_assignee_id,
    c.current_assignee_type,
    c.current_vendor_id,
    c.status,
    c.status_updated_at,
    c.base_rate_inr,
    c.total_rate_inr,
    c.created_by,
    c.updated_at,
    al.acceptance_deadline,
    al.acceptance_window_minutes,
    public.get_case_acceptance_time_remaining(c.id) as time_remaining,
    public.is_case_timed_out(c.id) as is_timed_out,
    CASE 
        WHEN c.status = 'allocated' AND public.is_case_timed_out(c.id) THEN 'expired'
        WHEN c.status = 'allocated' THEN 'allocated'
        WHEN c.status = 'accepted' THEN 'accepted'
        WHEN c.status = 'in_progress' THEN 'in_progress'
        WHEN c.status = 'submitted' THEN 'submitted'
        ELSE c.status
    END as display_status
FROM public.cases c
LEFT JOIN public.allocation_logs al ON c.id = al.case_id 
    AND al.candidate_id = c.current_assignee_id
    AND al.decision = 'allocated';

